<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>[[${pageTitle}]]</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid ">
<div class="text-center"><h2>[[${pageTitle}]]</h2></div>

<form th:action="@{/admin/coupons/save}" method="post" th:object="${coup}" style="max-width: 500px; margin: 0 auto;">
<input type="hidden" th:field="*{Cid}">
<div class="border border-seconary rounded p-3">
<div class="form-group row">
<label class="col-sm-4 col-form-lable">Description</label>
<div class="col-sm-8">
<input type="text" th:field="*{description}" class="form-control" required>
</div>
</div>

<div class="form-group row">
<label class="col-sm-4 col-form-lable">Event_id</label>
<div class="col-sm-8">
<input  type="text" th:field="*{eid}" class="form-control" required>
</div>
</div>

<div class="form-group row">
<label class="col-sm-4 col-form-lable">Discount</label>
<div class="col-sm-8">
<input  type="text" th:field="*{discount_percentage}" class="form-control" required>
</div>
</div>

<div class="form-group row">
<label class="col-sm-4 col-form-lable">Coupon_code</label>
<div class="col-sm-8">
<input type="text" th:field="*{Ccode}" class="form-control" required>
</div>
</div>

<div class="text-center">
<button type="submit" class="btn btn-primary m-2">Save</button>
<button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
</div>
</div>
</form>
</div>
<script type="text/javascript">
function cancelForm(){
	window.location = "[[@{/admin/coupons}]]"
}
</script>
</body>
</html>